<%- include('common/base1.ejs',{title:"User Image"}) %>
<style>
    img {
  width: 800px;
  height: 500px;
  max-width: 100%;
  object-fit: contain;
}
</style>
<form onsubmit="updateUser(event)">
    <div class="mb-3" >
        <label for="exampleFormControlInput1" class="form-label">Image</label>
        <input type="text" name="name" class="form-control" id="exampleFormControlInput1">
        <div class="mb-3">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" name="img" type="file" id="formFile">
          </div>
    </div>
<div id="imageContainer">
    <img src="" id="image" >
</div>
<button type="submit" >Update Profile</button>
</form>
<%- include('common/base2.ejs') %>