.bg-indigo {
    background-color: #03013b;
    background-image: url('../assets/circle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.full-viewheight {
    height: 100vh;
}

.text-blue {
    color: #0d6efd;
}

.logo-padding {
    font-size: 4rem;
    padding: 4.5rem 10rem;
}

.px-5 {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}

.mb-5 {
    margin-bottom: 5rem !important;
}

.bg-kindofgray{
    background-color: #eaecff;
}
.px-9{
    padding-left: 9rem !important;
    padding-right: 9rem !important;
}